@layer InsighButton {
  .insigh-button-primary {
    @apply inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    gap: 0.5rem;
    background-color: var(--color-insigh-primary);
    color: var(--color-insigh-font-color);
  }

  .insigh-button-primary:hover {
    background-color: var(--color-insigh-wewak-400);
  }

  .insigh-button-primary:disabled {
    background-color: var(--color-insigh-wewak-200);
    cursor: not-allowed;
  }

  .insigh-button-secondary {
    background-color: var(--color-insigh-chambray-700);
    color: var(--color-insigh-font-color);
  }

  .insigh-button-secondary:hover {
    background-color: var(--color-insigh-chambray-800);
  }

  .insigh-button-danger {
    background-color: var(--color-insigh-wewak-600);
    color: var(--color-insigh-accent-foreground);
  }

  .insigh-button-danger:hover {
    background-color: var(--color-insigh-wewak-700);
  }

  .insigh-button-small {
    height: 2rem;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    font-size: 0.875rem;
  }

  .insigh-button-medium {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-size: 1rem;
  }

  .insigh-button-large {
    height: 3rem;
    padding: 0.75rem 1.5rem;
    gap: 0.75rem;
    font-size: 1.125rem;
  }

  .insigh-button-stretch {
    width: 100%;
  }
}
